.primario{
	margin-top: 7%;
}

.botones{
	display: flex;
	justify-content: center;
}

.btn{
	margin: 2%;
}

.archivo{
	margin-top: 2%;
	align-items: center;
}

.archivo > * {
	display: block;
	margin-top: 2%;
}

.titulo{
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}